language: c

sudo: false

install:
  - >
      [ -f $HOME/astyle/build/gcc/bin/astyle ] || {
        wget -O astyle_2.05.1_linux.tar.gz http://sourceforge.net/projects/astyle/files/astyle/astyle%202.05.1/astyle_2.05.1_linux.tar.gz/download;
        tar -xf astyle_2.05.1_linux.tar.gz -C $HOME;
        make -C $HOME/astyle/build/gcc;
      }
  - make -C $HOME/astyle/build/gcc prefix=$HOME install

cache:
  directories:
    - $HOME/astyle

script:
  - ./tests/lint/run.sh
  - >
      aclocal && autoconf && automake --add-missing
      && ./configure --prefix=/usr --sysconfdir=/etc
      && make
