---
name: Codespell

on:
  push:

  pull_request:
    branches:
      - master

jobs:
  codespell:
    name: Check for spelling errors
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: codespell-project/actions-codespell@master
        with:
          skip: .git,checkpatch.pl,spelling.txt,LICENSE.OpenSSL
          ignore_words_list: anull,caf,synopsys,parms
