---
name: Tests

on:
  push:

  pull_request:
    branches:
      - master

permissions:
  contents: read

jobs:
  astyle:
    name: Style
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: sudo apt-get install -y astyle

      - name: Artistic Style
        run: ./tests/lint/astyle.sh $(git ls-files '*.[ch]')

      - name: Linux Kernel Coding Style
        run: ./tests/lint/checkpatch.sh $(git ls-files '*.[ch]')

      - name: EOL at EOF
        run: ./tests/lint/eol-at-eof.sh $(git ls-files)

      - name: Line Length
        run: ./tests/lint/line_length.py $(git ls-files '*.[ch]')

  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          sudo apt-get install -y pkg-config
          ./tests/ci/install_openssl.sh $HOME/.openfortivpn-deps

      - name: Build
        run: |
          ./autogen.sh
          export PKG_CONFIG_PATH="$HOME/.openfortivpn-deps/lib/pkgconfig"
          ./configure --prefix=/usr --sysconfdir=/etc
          make
